:root {
  --darkblue: #045a76;
  --lightblue: #75b3d3;
  --orange: #f0972d;
  --brown: #773400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

/* flexbox */

.flex-jc-sb {
  display: flex;
  justify-content: space-between;
}

.flex-jc-c {
  display: flex;
  justify-content: center;
}

.flex-ai-c {
  display: flex;
  align-items: center;
}

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}

header {
  padding: 2em;
}

.logo {
  display: flex;
  gap: 0.5em;
  /* width: 25%; */
}
.logo img {
  height: 18px;
}

.navLinks {
  display: none;
  padding-top: 1em;
  /* padding-right: 1em; */

  z-index: 1;
}

.navLinks a {
  white-space: nowrap;
  margin: 0;
}

.navLinks.active {
  display: flex;
  justify-content: space-around;
}

.logo:hover {
  text-decoration: underline var(--orange);
}

.headerH1 {
  margin-top: 1em;
}

nav a {
  color: white;
  text-decoration: none;

  font-size: 1.5em;
}

.nav-firstrow {
  padding: 1rem;
}

.backgroundColor {
  background-color: #045a76;
  height: 100%;
}

.backgroundColorBerlin {
  background-color: var(--lightblue);
}

.backgroundColorStreetart {
  background-color: var(--brown);
}

.backgroundColorAppdesign {
  background-color: var(--orange);
}

.hamburger a {
  margin: auto;
}

.hamburger > a span {
  display: flex;
  width: 26px;
  height: 4px;
  margin-bottom: 3px;
  background-color: white;
}

main a {
  display: flex;
  padding-left: 2em;
  flex-direction: column;
  font-size: 2em;
  color: white;
}

main a:first-child {
  padding-top: 4em;
}

main a:last-child {
  padding-bottom: 4em;
}

main a:hover {
  text-decoration: underline var(--orange);
}

.container {
  /* max-width: 900px; */
  padding-top: 4em;
  margin: 1em;
}

.textBlock {
  margin-bottom: 2em;
  max-width: 400px;
}

.textBlock h3 {
  padding-bottom: 1em;
}

.circles {
  display: flex;
  justify-content: flex-end;
}

.circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0.5rem;
}

.circle1 {
  background-color: var(--lightblue);
}

.circle2 {
  background-color: var(--orange);
}

.circle3 {
  background-color: var(--brown);
  margin-right: 1.5em;
}

.article img {
  margin-bottom: 1em;
  max-width: 100%;
}

/* berlin page */

/* blog page */

.blog-article h4,
.blog-article p {
  max-width: 500px;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: black;
  border-radius: 5px;
}

/* breakpoints 640px, 1024px, 1400px */

@media (min-width: 40em) {
  .navLinks {
    padding-top: 1em;
    padding-right: 1em;
  }
  .circle {
    width: 7rem;
    height: 7rem;
  }

  .circle3 {
    margin-right: 4em;
  }

  main a {
    font-size: 2.2em;
  }

  .article {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: 1em;
  }

  .article img {
    width: auto;
    height: 400px;

    border-radius: 4px;
  }
}

@media (min-width: 64em) {
  .circle {
    width: 9rem;
    height: 9rem;
  }

  .circle3 {
    margin-right: 4em;
  }

  main a {
    font-size: 2.4em;
  }

  .container {
    max-width: 900px;
    margin: auto;
  }
}

@media (min-width: 87.5em) {
  .circle {
    width: 10rem;
    height: 10rem;
  }

  .circle3 {
    margin-right: 5em;
  }

  main a {
    font-size: 2.8em;
  }

  .article img {
    max-height: max-content;
  }

  body {
    font-size: 18px;
  }
}
