body {
  height: 100%;
  margin: 0;
}

.background {
  background-image: url(../images/berlinWallpaper.jpg);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: flex;
}

nav a {
  color: white;
  text-decoration: none;
}
