$primaryColor: #045a76; // blue
$secondaryColor: #f0972d; // orange
$accentBlue: #4c8caa; // accent blue
$lightBlue: #c8f8ff; // very light blue

$menuColor: $secondaryColor;

$defaultFont: "Ubuntu", sans-serif;
